/* Variables */
:root {
    --color-amarillo: #cca43b;
    --color-auzl-oscuro: #242f40;
    --color-marron: #363636;
    --color-gris: #E5E5E5;
    --color-blanco: #fffdfa;
    --color-negro: #121212;
    --color-rojo: #e22d00;
}

/* Normalizacion */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/* Fuentes */
@font-face {
    font-family: "Lato";
    src: url("../media/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../media/fonts/Poppins-Regular.ttf");
}

body {
    background-color: var(--color-blanco);
    font-family: Lato;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

/* Estilo del Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-marron);
}

.logo-web {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 20rem;
    border: 2px solid var(--color-amarillo);
    margin: 0.5rem 0 0.5rem 2rem;
    cursor: pointer;
    transition: all 0.25s;
}

.logo-web:hover {
    width: 6.5rem;
    height: 6.5rem;
    margin: 1rem 0 1rem 2rem;
}

.menu ul {
    display: flex;
    justify-content: center;
    padding-right: 5rem;
}

a {
    color: var(--color-gris);
    font-size: 1.25rem;
    padding: 1rem;
    transition: all 0.15s;
}

a:hover {
    color: var(--color-amarillo);
    font-weight: bold;
}

.logo {
    padding: 0;
}

.menu-user {
    position: relative;
}

.menu-user .submenu {
    display: none;
    position: absolute;
    width: 11rem;
    text-align: left;
    top: 100%;
    left: 0.5rem;
    right: 0;
    background-color: var(--color-gris);
    border: 2px solid var(--color-amarillo);
    border-radius: 1rem;
    list-style: none;
    padding: 0.25rem 0;
    margin: 0.25rem 0 0;
    z-index: 1000;
}

.submenu li {
    width: 100%;
    padding: 0.5rem 0;
}

.submenu li a {
    font-size: 1rem;
    color: var(--color-negro);
    transition: all 0.25s;
}

.submenu li a:hover {
    color: var(--color-amarillo);
}

.menu-user:hover .submenu {
    display: block;
}

/* Estilo del main */
main {
    flex: 1;
}

/* Estilo del Footer */
footer {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-marron);
    color: var(--color-gris);
    font-size: 1.25rem;
    padding: 1rem;
}

.menu-footer ul{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

footer p {
    opacity: 0.55;
    padding: 0.5rem;
}

/* Estilo de los Formularios */
.contenedor {
    width: 50%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-auzl-oscuro);
    border: 4px solid var(--color-amarillo);
    border-radius: 1rem;
    box-shadow: 3px 4px 0 1px var(--color-marron);
}

.contenedor h1 {
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    color: var(--color-gris);
    text-shadow: 1px 1px 2px var(--color-amarillo);
    padding: 1rem 0 0.5rem;
}

.contenedor h2 {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    color: var(--color-gris);
    text-shadow: 1px 1px 2px var(--color-amarillo);
    padding: 1rem 0 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 1rem;
}

label {
    font-family: Poppins;
    font-size: 1.5rem;
    color: var(--color-gris);
}

input,select,textarea {
    font-family: Poppins;
    font-size: 1.25rem;
    padding: 0.25rem;
    margin: 0.25rem 0 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-blanco);
    background-color: var(--color-gris);
    color: var(--color-marron);
    transition: all 0.25s;
}

textarea {
    height: 15rem;
    resize: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input:focus, select:focus, textarea:focus {
    border: 2px solid var(--color-amarillo);
}

input[type="submit"] {
    background-color: var(--color-gris);
    color: var(--color-marron);
    font-weight: bold;
    cursor: pointer;
    width: 30%;
    margin: 1.5rem 0 0;
    align-self: center;
    transition: all 0.25s;
}

input[type="submit"]:hover {
    background-color: var(--color-amarillo);
    color: var(--color-gris);
}

.recordar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recordar .checkbox {
    width: 1.25rem;
    height: 1.25rem;
    margin: auto 0.5rem;
    transition: all 0.25s;
}

.recordar .checkbox:checked {
    accent-color: var(--color-amarillo);
    box-shadow: 0 0 10px 2px var(--color-amarillo);
}

/* Errores del Formulario */
.exito {
    font-size: 1.25rem;
    color: var(--color-amarillo);
}

.exitoso {
    margin-bottom: 2rem;
}

.fallo {
    font-size: 1.25rem;
    color: var(--color-rojo);
}

.error {
    color: var(--color-rojo);
    font-size: 0.75rem;
    margin: 0.5rem 0;
}

.error li {
    list-style: disc;
    margin-left: 1rem;
}

/* Estilo de las tablas */
.contenedor-tabla {
    width: 70%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-auzl-oscuro);
    border: 4px solid var(--color-amarillo);
    border-radius: 1rem;
    box-shadow: 3px 4px 0 1px var(--color-marron);
}

.contenedor-tabla h1 {
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    color: var(--color-gris);
    text-shadow: 1px 1px 2px var(--color-amarillo);
    padding: 1rem 0 0.5rem;
}

.contenedor-tabla p {
    color: var(--color-gris);
    padding: 1rem;
    font-size: 1rem;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-family: Poppins;
}

th, td {
    background-color: var(--color-gris);
    border: 4px solid var(--color-auzl-oscuro);
    padding: 0.5rem;
    text-align: center;
}

th {
    font-size: 1.25rem;
}

td a{
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    color: var(--color-gris);
    background-color: var(--color-marron);
    border: 2px solid var(--color-negro);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.25s;
}

td a:hover {
    color: var(--color-amarillo);
    background-color: var(--color-gris);
}

td.descripcion {
    max-width: 15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Menu Secundario Index */
.menu-secundario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-gris);
}

.menu-secundario a {
    color: var(--color-negro);
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    transition: all 0.25s;
}

.menu-secundario a:hover {
    color: var(--color-amarillo);
}

/* Estilos de los Productos */
.contenedor-productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    margin: auto;
    gap: 2rem;
    padding: 2rem;
    justify-items: center;
}

.producto {
    display: flex;
    flex-direction: column;
    background-color: var(--color-gris);
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 2px 5px var(--color-amarillo);
}

.producto figure {
    position: relative;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
}

.producto figure img {
    width: 20rem;
    height: 20rem;
    display: block;
    transition: all 0.3s ease;
}

.producto figure:hover img {
    transform: scale(1.1);
}

.producto section {
    flex: 1;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--color-negro);
    font-family: Lato;
}

.producto section .precio {
    font-size: 1rem;
    font-weight: bold;
    opacity: 75%;
    color: var(--color-negro);
    margin: 0;
}
  
.producto section h2 {
    font-size: 1.5rem;
    margin: 0;
    color: var(--color-negro);
}
  
.producto section .descripcion {
    flex: 1;
    font-size: 1rem;
    color: var(--color-marron);
    
    max-width: 300px;    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.producto section .add-carrito {
    font-size: 1.5rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 2rem;
    color: var(--color-marron);
    background-color: var(--color-amarillo);
    transition: all 0.25s;
}

.producto section .add-carrito:hover {
    color: var(--color-amarillo);
    background-color: var(--color-marron);
}

.producto section .add-carrito:focus {
    transform: rotate(0.25turn) scale(0.85);
}

/* Estilo del carrito */
.contenedor-carrito {
    width: 60%;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto;
}

.mostrar-productos {
    flex: 3;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    box-shadow: 0 0 2px var(--color-negro);
    border-radius: 2rem;
    background-color: var(--color-gris);
    padding: 0.5rem 1rem 5.5rem 0.5rem;
    font-family: Poppins;
}

.mostrar-productos h1 {
    font-size: 2rem;
    font-family: Lato;
    margin: 0.25rem 1rem;
    color: var(--color-marron);
}

.mostrar-productos .no-registros {
    text-align: center;
}

.atriculo-producto {
    display: flex;
    box-shadow: 2px 2px 6px var(--color-negro);
    border-radius: 2rem;
    background-color: var(--color-blanco);
}

.atriculo-producto figure {
    position: relative;
    overflow: hidden;
    margin: 0;
    border-right: 2px solid var(--color-amarillo);
}

.atriculo-producto figure img {
    width: 10rem;
    height: 10rem;
    display: block;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.atriculo-producto section:first-of-type {
    flex: 3;
    margin-left: 0.5rem;
    padding: 0.5rem;
}

.atriculo-producto section:first-of-type p:first-of-type {
    margin: 0.25rem 0 0.35rem;
}

.atriculo-producto section:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 0.25rem;
}

.atriculo-producto section a {
    flex: 0;
    display: inline-block;
    padding: 0;
    margin: 1rem;
}

.atriculo-producto section a i{
    font-size: 1.5rem;
    color: var(--color-marron);
    transition: all 0.25s;
}

.atriculo-producto section a i:hover {
    color: var(--color-amarillo);
    transform: scale(1.25);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.vaciar-carrito {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: inline-block;  
    padding: 0.5rem 1rem;
    background-color: var(--color-auzl-oscuro);
    border-radius: 2rem;
    transition: all 0.25s;
}

.vaciar-carrito:hover {
    box-shadow: 0 0 1px 2px var(--color-amarillo);
}

.pedido {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 15rem;
    gap: 1rem;
    padding: 1rem 0.5rem;
    border-radius: 2rem;
    background-color: var(--color-marron);
    box-shadow: 0 0 2px var(--color-negro);
    color: var(--color-gris);
}

.pedido article {
    font-family: Poppins;
}

.pedido .subtotal{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 0rem;
}

.pedido .envio {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1rem;
    border-bottom: 2px solid var(--color-gris);
}

.pedido .total {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0.5rem;
}

.pedido b {
    font-family: Lato;
    font-weight: normal;
    font-size: 0.75rem;
    opacity: 75%;
}

.pedido a {
    text-align: center;
    color: var(--color-marron);
    background-color: var(--color-gris);
    border-radius: 2rem;
    border: 2px solid var(--color-auzl-oscuro);
    padding: 0.5rem;
    transition: all 0.25s;
}

.pedido a:hover {
    color: var(--color-amarillo);
    background-color: var(--color-marron);
    border: 2px solid var(--color-gris);
}

/* Estilo para los botons del Perfil */
.boton-perfil {
    background-color: var(--color-marron);
    border: 2px solid var(--color-gris);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.boton-perfil:hover {
    background-color: var(--color-gris);
    border: 2px solid var(--color-amarillo);
}